<div id="gpt-mail-loading">
    <div class="antialiased !font-sans">
        <div class="w-full h-full mt-3 mb-3 z-20 relative">
            <div class="flex gap-3 items-center">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>