<div data-radix-popper-content-wrapper=""
    style="position: fixed; left: 0px; top: 0px; transform: translate3d(498px, 312px, 0px); min-width: max-content; z-index: 10; --radix-popper-transform-origin: 50% 254px;">
    <div data-side="top" data-align="center" data-state="open" role="dialog" id="radix-:r9:"
        class="w-[300px] z-10 relative bg-white shadow-lg rounded-md p-4 space-y-4" tabindex="-1"
        style="--radix-popover-content-transform-origin: var(--radix-popper-transform-origin); pointer-events: auto;">
        <div>
            <div class="flex items-center justify-between"><label
                    class="text-sm font-medium text-gray-700 flex items-center" for="tone">Tone<span
                        class="bg-blue-200 text-blue-700 text-[10px] py-[1px] px-2 rounded ml-2"
                        data-state="closed">PRO</span></label><select id="tone" disabled=""
                    class="form-select text-sm block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 focus:border-blue-500 focus:outline-none focus:ring-blue-500 disabled:opacity-70 disabled:cursor-not-allowed max-w-[60%]">
                    <option value="default">Default</option>
                    <option value="brief">Brief</option>
                    <option value="lengthy">Lengthy</option>
                    <option value="formal">Formal</option>
                    <option value="informal">Informal</option>
                    <option value="funny">Funny</option>
                    <option value="friendly">Friendly</option>
                    <option value="optimistic">Optimistic</option>
                    <option value="cooperative">Cooperative</option>
                    <option value="witty">Witty</option>
                    <option value="custom">Custom</option>
                </select></div>
        </div>
        <div>
            <div class="flex items-center justify-between"><label
                    class="text-sm font-medium text-gray-700 flex items-center" for="link">Scheduling Link <span
                        class="flex items-center ml-1" data-state="closed"><svg xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
                            </path>
                        </svg></span><span class="bg-blue-200 text-blue-700 text-[10px] py-[1px] px-2 rounded ml-2"
                        data-state="closed">PRO</span></label><button
                    class="cursor-pointer px-3 py-2 rounded-md bg-blue-600 text-white hover:bg-blue-500 transition-colors border-none disabled:opacity-70 disabled:cursor-not-allowed"
                    disabled="">Add</button></div>
        </div>
        <div class="flex justify-between"><label class="text-sm font-medium text-gray-700 flex items-center"
                for="remail-branding">Remail branding <span class="flex items-center ml-1" data-state="closed"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
                        </path>
                    </svg></span><span class="bg-blue-200 text-blue-700 text-[10px] py-[1px] px-2 rounded ml-2"
                    data-state="closed">PRO</span></label><button
                class="relative inline-flex h-[24px] w-[44px] items-center rounded-full border-0 transition-colors duration-150 bg-blue-600 opacity-50 cursor-not-allowed"><span
                    class="inline-block h-[20px] w-[20px] rounded-full bg-white absolute shadow transition-transform duration-150"
                    style="transform: translateX(80%);"></span></button></div>
        <div class="flex items-center justify-between text-xs">
            <p class="text-sm font-medium text-gray-700">Account</p><a
                class="no-underline !text-blue-500 hover:text-blue-600 transition-colors" target="_blank"
                rel="noreferrer" href="https://remail.ai/app/profile">Manage account</a>
        </div>
        <div class="flex items-end justify-between text-xs mt-0">
            <p class="text-gray-600 m-0">Remail - v1.2.1</p><a
                class="no-underline !text-blue-500 hover:text-blue-600 transition-colors" target="_blank"
                rel="noreferrer" href="https://discord.gg/7UJhU2TFwB">Join our discord server</a>
        </div>
    </div>
</div>