<div id="gpt-translate-suggest" data-radix-popper-content-wrapper=""
    style="position: fixed; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px); min-width: max-content; z-index: 500; --radix-popper-transform-origin: 50% 106px;">
    <div data-side="top" data-align="center" data-state="open" role="dialog" id="radix-:r7:"
        class="tr-w-[350px] tr-z-10 tr-relative tr-bg-white1 tr-shadow-lg tr-rounded-md tr-p-4 tr-space-y-4"
        tabindex="-1" style="--radix-popover-content-transform-origin: var(--radix-popper-transform-origin);">
        <div class="tr-flex tr-justify-between tr-items-center tr-text-sm">Translate
            <button id="reply-gpt-translate-suggest-btn" class="tr-border-0 tr-bg-transparent tr-p-0 tr-cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="tr-w-4 tr-h-4 tr-text-gray-700">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z">
                    </path>
                </svg>
            </button>
            <button id="gpt-translate-suggest-close-btn" class="tr-border-0 tr-bg-transparent tr-p-0 tr-cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="tr-w-4 tr-h-4 tr-text-gray-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <form>
            <div class="tr-relative tr-mt-4">
                <textarea id="gpt-translate-suggest-text"
                    class="tr-form-input tr-text-sm tr-block tr-w-[90%] tr-rounded-md !tr-border-gray-300 tr-py-2 tr-px-3 focus:tr-border-blue-500 tr-border-solid"
                    placeholder="" rows="1"
                    style="resize:none; overflow:hidden; vertical-align: top; height: 70px"></textarea>
            </div>
        </form>
    </div>
</div>